<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".cache/phpunit"
  executionOrder="depends,defects"
  beStrictAboutCoverageMetadata="true"
  beStrictAboutOutputDuringTests="true"
  failOnRisky="true"
  failOnWarning="true"
  colors="true"
>
  <extensions>
    <bootstrap class="RobinIngelbrecht\PHPUnitPrettyPrint\PhpUnitExtension">
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
